h1{
    color:brown;
    text-align: center;
}

body{
    background-color: black;
}

h2{
    color:palevioletred;
    font-style: inherit;
    text-align: left;
}

p{
    color:darkolivegreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
    color: aliceblue;
    line-height: 40px;
}

ol{
    color: aliceblue;
    line-height: 40px;
}

strong{
    font-style: italic;
}

em {
    font-style: bold;
}